html,body{
    padding: 0;
    margin: 0;
}

.partOne{
    height: 800px;
    background-image: url("../images/HERO.jpg");


}
.navbar{
    height: 100px;
    opacity: 50%;
}
.blue{
    color: deepskyblue;
}
.bluEasy{
    font-size: 20px;
    padding-left: 100px;
}

.nav-item{
    font-size: 18px;

}
.phrases{
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 90%;
    display: flex;
}


.phrase1{
    color: white;
    font-size: 2em;
    font-weight: normal;
    text-transform: none;
    background-color: rgba(0,0,0,0.20);
}

.phrase2{
    color: white;
    font-size: 2em;
    font-weight: normal;
    text-transform: none;
    background-color: rgba(0,0,0,0.20);
}

.partTwo{
    height:401px;
}

.partThree{
    height: 600px;
}

.partFour{
   background-color: #6c757d;
    height: 550px;
}

.partFive{
    display: flex;
    height: 300px;
    background-color: deepskyblue;
}
.partSix{
    display: flex;
    height: 400px;
    background-color: lightsteelblue;
}

.partSeven{
    height: 350px;
    background-color: white;
}

.partEight{
    display: flex;
    height: 600px;
    background-color: lightsteelblue;
}